<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>I  & M stores</title>
<link th:replace="storefront/fragments/headLinks">
</head>
<body>
  <div class="container-fluid">
    <div th:replace="storefront/fragments/navbar"></div>
    <h2>I & M stores</h2>
    <div class="list-group" th:each="product:${productList}">
      <div class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
        </div>
       
      </div>
    </div>
    
    </div>
  </div>
  <script th:replace="storefronts/fragments/scriptsLinks"></script>
</body>
</html>